<hr>
             <div class="footer">
                <div class="row-fluid">
                    <div class="span12"><p>
                        <a href="http://www.napcaesmind.de">napcae's mind</a> 2009 - {{ site.time | date: "%Y" }} 
                        &middot; <a href="/about">About</a> 
                        &middot; <a href="/report">Report Incident</a> &middot;
                        <a href="/atom.xml"><img alt="feed" width="16" src="/img/iconmonstr-rss-3-icon.png">  RSS</a>
                   </div>
                    <br><br>
                    <div class="span12" style="text-align:center;">
                        <a href=" https://www.digitalocean.com/?refcode=4e7c40a32a7a"><img width="140" src="/img/digitalocean-badge-blue.png"></a>
                    </div>
                </div>
                <!-- row fluid -->
            </div> 
            <!-- /footer -->
        </div>
        <!-- /container -->
        <script src="/js/bootstrap.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>
